{% extends "base.html" %}

{% block content %}

<h1>Форма для регистрации в суперсекретной системе</h1>
		<div>
				<form class="login_form" method="post">
            <div class="form-group">

              <input type="surname" name="surname" class="form-control" id="exampleInputEmail1" aria-
                     describedby="emailHelp" placeholder="Enter surname">
            </div>

            <div class="form-group">
              <input type="name" name="name" class="form-control" id="exampleInputPassword1"
								     placeholder="Enter name">
            </div>

            <div class="form-group form-check">
              <input type="checkbox" name="check" class="form-check-input" id="exampleCheck1" value="1">
                <label class="form-check-label" for="exampleCheck1">
								Check me out
                </label>
              <input type="hidden" name="check" value="0">

            </div>
            <button type="submit" class="btn btn-primary">
							Submit
						</button>
         </form>
		</div>

{% endblock %}